# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual env
.venv/
venv/

# Environment
.env
.env.*

# Alembic
# alembic/versions/  ← ne pas ignorer, commit tes migrations

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#files

helper.md
droptable.txt